<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Cache-control" content="no-cache">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="util.js"></script>
        <script type="text/javascript" src="addVideoGfycat.js"></script>
    </head>
<body>
<div class="deckgridContainer" itemscope="" itemtype="http://schema.org/SearchResultsPage">
    <button id="submitVideo">Submit Video</button>

    <iframe src='https://gfycat.com/ifr/ReflectingAgedDrake?autoplay=0' autoplay='' frameborder='0' scrolling='no' width='640' height='360' allowfullscreen></iframe>
      <div smart-infinite-scroll="" class="deckgrid ng-isolate-scope" smart-repeat="card in searchService.gfycats" more-data="loadNextPage(90)" more-data-disable="isNextPageLoading()" style="width: 1162px; margin: 0px auto; height: 45863px;"><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="7" style="top: 169px; left: 879px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/ShoddyWhisperedAracari" href="/tag/overwatch/detail/ShoddyWhisperedAracari">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/ShoddyWhisperedAracari-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="Hanzo, Overwatch, Tracer, Psychic Hanzo" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/ShoddyWhisperedAracari-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb>
          <gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="6" style="top: 169px; left: 586px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/LoathsomeSoulfulKestrel" href="/tag/overwatch/detail/LoathsomeSoulfulKestrel">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/LoathsomeSoulfulKestrel-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch, I joined my friends' group right when they finished a match, and something weird happened. (reddit), Overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/LoathsomeSoulfulKestrel-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="5" style="top: 169px; left: 293px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/KeenLiquidFrilledlizard" href="/tag/overwatch/detail/KeenLiquidFrilledlizard">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/KeenLiquidFrilledlizard-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch, playstation 4, sony computer entertainment, When Reinhardt slams you so hard, you sit to think about your life decisions." itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/KeenLiquidFrilledlizard-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="4" style="top: 169px; left: 0px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/AridFrighteningCaribou" href="/tag/overwatch/detail/AridFrighteningCaribou">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/AridFrighteningCaribou-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/AridFrighteningCaribou-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="3" style="top: 0px; left: 879px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/HandmadeBowedAlbacoretuna" href="/tag/overwatch/detail/HandmadeBowedAlbacoretuna">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/HandmadeBowedAlbacoretuna-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="dashboard, overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/HandmadeBowedAlbacoretuna-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="2" style="top: 0px; left: 586px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/HealthyAcademicHornedtoad" href="/tag/overwatch/detail/HealthyAcademicHornedtoad">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/HealthyAcademicHornedtoad-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch, playstation 4, Overwatch: This is why you shouldnt showboat" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/HealthyAcademicHornedtoad-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="1" style="top: 0px; left: 293px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/DefinitiveBackDogfish" href="/tag/overwatch/detail/DefinitiveBackDogfish">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/DefinitiveBackDogfish-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="Old man hates turrets." itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/DefinitiveBackDogfish-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="0" style="top: 0px; left: 0px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/ShimmeringActiveGrayreefshark" href="/tag/overwatch/detail/ShimmeringActiveGrayreefshark">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/ShimmeringActiveGrayreefshark-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch, playstation 4, sony computer entertainment, Don't Get Cocky, Kid, Overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/ShimmeringActiveGrayreefshark-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="15" style="top: 524px; left: 293px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/BleakFondChanticleer" href="/tag/overwatch/detail/BleakFondChanticleer">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/BleakFondChanticleer-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch, How to play Hanzo, Overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/BleakFondChanticleer-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="14" style="top: 507px; left: 879px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/UntimelyMajesticAppaloosa" href="/tag/overwatch/detail/UntimelyMajesticAppaloosa">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/UntimelyMajesticAppaloosa-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="games, overwatch, playsofthegame, How to get the most out of a PotG. (reddit), Overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/UntimelyMajesticAppaloosa-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="13" style="top: 507px; left: 586px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/VerifiableForthrightFerret" href="/tag/overwatch/detail/VerifiableForthrightFerret">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/VerifiableForthrightFerret-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="Mei, Overwatch, Overwatchgif, Oops, Sorry!" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/VerifiableForthrightFerret-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="12" style="top: 507px; left: 0px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/DarkFlimsyAlpineroadguidetigerbeetle" href="/tag/overwatch/detail/DarkFlimsyAlpineroadguidetigerbeetle">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/DarkFlimsyAlpineroadguidetigerbeetle-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch, overwatch potg dva ulti emote, DVa Emote POTG, Overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/DarkFlimsyAlpineroadguidetigerbeetle-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="11" style="top: 338px; left: 879px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/SlushyJollyIvorygull" href="/tag/overwatch/detail/SlushyJollyIvorygull">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/SlushyJollyIvorygull-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch, twitch, When you're reinhardt versus too many tracers" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/SlushyJollyIvorygull-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="10" style="top: 338px; left: 586px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/FrailJealousGannet" href="/tag/overwatch/detail/FrailJealousGannet">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/FrailJealousGannet-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch, Mei trying to be Torbjörn" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/FrailJealousGannet-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="9" style="top: 338px; left: 293px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/BossySafeAmoeba" href="/tag/overwatch/detail/BossySafeAmoeba">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/BossySafeAmoeba-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch, WHY WON'T YOU JUST DIE" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/BossySafeAmoeba-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="8" style="top: 338px; left: 0px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/WarlikeSnoopyCopperhead" href="/tag/overwatch/detail/WarlikeSnoopyCopperhead">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/WarlikeSnoopyCopperhead-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="Tracer dropped something. Good Guy Genji gave it back to her." itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/WarlikeSnoopyCopperhead-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="19" style="top: 710px; left: 293px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/WellinformedGargantuanGorilla" href="/tag/overwatch/detail/WellinformedGargantuanGorilla">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/WellinformedGargantuanGorilla-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="Booom, overwatch, When the D.Va emote is perfectly timed., Overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/WellinformedGargantuanGorilla-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="18" style="top: 676px; left: 879px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/GoldenGeneralGuppy" href="/tag/overwatch/detail/GoldenGeneralGuppy">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/GoldenGeneralGuppy-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch, zarya, Everyone get in here!" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/GoldenGeneralGuppy-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="17" style="top: 676px; left: 586px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/ImprobableNimbleGoldenmantledgroundsquirrel" href="/tag/overwatch/detail/ImprobableNimbleGoldenmantledgroundsquirrel">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/ImprobableNimbleGoldenmantledgroundsquirrel-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/ImprobableNimbleGoldenmantledgroundsquirrel-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="16" style="top: 676px; left: 0px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/LegalDesertedBigmouthbass" href="/tag/overwatch/detail/LegalDesertedBigmouthbass">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/LegalDesertedBigmouthbass-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="gaming, overwatch, So I went on a 52 Killstreak today (No Deaths), Overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/LegalDesertedBigmouthbass-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="23" style="top: 879px; left: 293px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/EnchantedMeanLarva" href="/tag/overwatch/detail/EnchantedMeanLarva">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/EnchantedMeanLarva-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch, winston, One Reinhardt, Six Winstons" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/EnchantedMeanLarva-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="22" style="top: 845px; left: 586px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/AdmiredKeenAfghanhound" href="/tag/overwatch/detail/AdmiredKeenAfghanhound">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/AdmiredKeenAfghanhound-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch, playstation 4, Reinhardt Quad Kill Overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/AdmiredKeenAfghanhound-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="21" style="top: 845px; left: 0px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/AppropriateHilariousKob" href="/tag/overwatch/detail/AppropriateHilariousKob">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/AppropriateHilariousKob-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="dvaaaa, overwatch, Here you go!, Overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/AppropriateHilariousKob-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="20" style="top: 835px; left: 879px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/SecondUncommonIbizanhound" href="/tag/overwatch/detail/SecondUncommonIbizanhound">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/SecondUncommonIbizanhound-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/SecondUncommonIbizanhound-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="26" style="top: 1014px; left: 586px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/OrganicSkinnyAmericancrow" href="/tag/overwatch/detail/OrganicSkinnyAmericancrow">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/OrganicSkinnyAmericancrow-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="games, overwatch, twitch, Oh hello, Overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/OrganicSkinnyAmericancrow-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="25" style="top: 1014px; left: 0px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/AgitatedSandyFossa" href="/tag/overwatch/detail/AgitatedSandyFossa">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/AgitatedSandyFossa-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="mercy, overwatch, Mercy was the real MVP" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/AgitatedSandyFossa-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="24" style="top: 1004px; left: 879px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/SpryScaredBear" href="/tag/overwatch/detail/SpryScaredBear">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/SpryScaredBear-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch, Hey Tracer, you dropped something (reddit), Overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/SpryScaredBear-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="27" style="top: 1048px; left: 293px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/UniformPlaintiveBangeltiger" href="/tag/overwatch/detail/UniformPlaintiveBangeltiger">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/UniformPlaintiveBangeltiger-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch, : O...oh" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/UniformPlaintiveBangeltiger-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="28" style="top: 1173px; left: 879px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/DefiniteTalkativeAsianpiedstarling" href="/tag/overwatch/detail/DefiniteTalkativeAsianpiedstarling">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/DefiniteTalkativeAsianpiedstarling-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="friends, overwatch, Overwatch 05 26 2016   20 54 48 12 DVR" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/DefiniteTalkativeAsianpiedstarling-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="30" style="top: 1183px; left: 586px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/MinorPlaintiveIchthyostega" href="/tag/overwatch/detail/MinorPlaintiveIchthyostega">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/MinorPlaintiveIchthyostega-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch, When you hook D.VA right as she calls down her mech. (reddit), Overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/MinorPlaintiveIchthyostega-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="29" style="top: 1183px; left: 0px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/DistantMeekGoldenmantledgroundsquirrel" href="/tag/overwatch/detail/DistantMeekGoldenmantledgroundsquirrel">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/DistantMeekGoldenmantledgroundsquirrel-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/DistantMeekGoldenmantledgroundsquirrel-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb><gfy-small-thumb data="card" ng-mouseenter="$parent.$parent.sendViewAnalytics(card.gfyId)" ng-mouseleave="$parent.$parent.onMouseLeaveThumb()" video-size="original" link="$parent.$parent.generateURL(card)" class="ng-scope ng-isolate-scope" index="31" style="top: 1217px; left: 293px; width: 273px;"><div class="gfy-small-thumb" itemscope="" itemtype="http://schema.org/Article">

    <a ng-href="/tag/overwatch/detail/IllegalGorgeousAmericanwigeon" href="/tag/overwatch/detail/IllegalGorgeousAmericanwigeon">
        <!-- ngIf: !isVideoShown() --><img class="image ng-scope" data-ng-src="https://thumbs.gfycat.com/IllegalGorgeousAmericanwigeon-mobile.jpg" data-ng-mouseenter="mouseEnter()" data-ng-if="!isVideoShown()" alt="overwatch, How to handle a team of Tracers as Junkrat (reddit), Overwatch" itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject" src="https://thumbs.gfycat.com/IllegalGorgeousAmericanwigeon-mobile.jpg"><!-- end ngIf: !isVideoShown() -->
        <!-- ngIf: isVideoShown() -->
    </a>

    <!-- ngIf: isTitleShown --> <!--||data.gfyName-->

    <!-- ngIf: isVideoInfoShown -->
</div>
</gfy-small-thumb></div>

    </div>
    </body>
    </html>