.heroCardImg {
	width: 120px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	background: rgba(147,206,222,0.81);
	background: -moz-linear-gradient(left, rgba(147,206,222,0.81) 0%, rgba(73,165,191,0.81) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,0.81)), color-stop(100%, rgba(73,165,191,0.81)));
	background: -webkit-linear-gradient(left, rgba(147,206,222,0.81) 0%, rgba(73,165,191,0.81) 100%);
	background: -o-linear-gradient(left, rgba(147,206,222,0.81) 0%, rgba(73,165,191,0.81) 100%);
	background: -ms-linear-gradient(left, rgba(147,206,222,0.81) 0%, rgba(73,165,191,0.81) 100%);
	background: linear-gradient(to right, rgba(147,206,222,0.81) 0%, rgba(73,165,191,0.81) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );

}

#centerImg {
	text-align: center;
}

#cardTitle {
	text-align: center;
	font-size: 20px;
}

#herosComponent {
background: rgba(134, 198, 217, 0.5);
}

.heroCard {
    padding: 20px;
    padding-bottom: 0px;
	margin: 10px;
	border-radius: 15px;
	background: rgba(20, 33, 41, 0.5);
}

.heroCard p {
	color: #ffffff;
}

#app {
	background-image: url("../img/background/bodyBg.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

#navBand {
	margin-top: 30px;
}

.navTitle:hover {
	background: #080808 !important;
}

.newsImgMargin {
	margin-top: 10px;
}

.newsImgMargin img{
	padding: 20px;
}

.newsDescriptionColor: {
	color: #ffffff;
}

.newsCard p, .newsCard b, .newsCard h4{
	color: #ffffff;
}

#author {
	float: left;
}

#domain {
	float: right;
}

.newsCard {
	margin: 15px;
	border-radius: 10px;
	background: rgba(20, 33, 41, 0.5);
}

#newsText {
	margin-top: 15px;
}

.twitCard {
	padding-top: 20px;
	margin: 15px;
	border-radius: 10px;
	background: rgba(20, 33, 41, 0.5);
}

.twitCard img {
	width: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.twitCard p {
	color: #ffffff;
}

#retweets {
	float: left;	
}

.navbar-brand img {
	width: 70px;
	margin-top: -7px;
}
 
.navTitle a {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 20px;
}

.fbLoginBtn {
	position: absolute;
	top:20;
	right:20;
	width: 100;
	background:#000000;
}

.fbAvatar {
	margin-top: 10px;
	margin-right: 50px;
    border: 1px solid silver;
    height: 50px;
    border-radius: 50%;
}

.fbBtn {
	color: #ffffff;
	margin-right: 50px;
	margin-top: 20px;
	background: #3b5998;
}

.welcome {
	font-size: 16px;
	color: #ffffff;
}

.work-list {
	box-sizing: content-box;
	overflow: hidden;
	position: relative;
	height: 1300px;
	min-height: 0px; 
}

@media screen and (min-width: 769px){
	.work-list article {
		float: left;
		width: 50%;
	}
}

.work-list .inner {
	display: flex;
	box-direction: normal;
	box-orient: horizontal;
	flex-direction: row;
	flex-wrap: wrap;
}

.work-item {
	opacity: 1;
	background: #000;
	cursor: pointer;
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.work-item .in-view {
	transform: translate(0, 0);
}

.work-item img {
	float: left;
	height: auto;
	max-width: 100%;
	width: 100%;
	transition-delay: 100ms;
 	transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-webkit-transition: opacity .6s ease-in-out;
}

.work-item img:hover{
	opacity: 0.5;
}

@media screen and (min-width: 769px){
	.work-item .content{
		padding-top: 0px;
		padding-right: 100px;
		padding-bottom: 0px;
		padding-left: 100px;
	}
}

.content{
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0);
	bottom: 0;
	color: #fff;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.work-item:hover .content{
	transition-duration: 0.6s;
	visibility: visible;
	transform: translate(0, 80px);
    -webkit-transform: translate(0,80px); 
    -o-transform: translate(0,80px); 
    -moz-transform: translate(0,80px);	
}

.wrapper {
    position:absolute;
    top: 80px;
    left: -150px;
    height: 150%;
    width: 120%;
}

.wrapper {
	position: relative;
	top:0;
	left:0;
	width:100%; 
	height:100%;
}

.y-iframe {
   width: 50%;
    height: 500px;
    margin: 0 auto;
    vertical-align: middle;
    padding-top: 30px; 
}

.ytbPlayer {
	height: 100%;
	width: 100%;
	frameBorder: 0;
}
