.featureStats {
    width: 90%;
    margin: auto;
    border: 1px solid #e5e4e2;
    padding: 10px;
    background: #ffffff;
}

.featureStats h4 {
    float: left;
    padding-left: 10px;
    color: #666666;
}

.featureStatsList {
    clear: both;
    display: flex;
    margin-left: 30px;
    flex-direction: row;
    background: ffff;
    box-shadow: 1px;
}

.featureStatsKey {
    flex: 1;
}

.featureStatsValue{
    flex: 2;
}

.heroStats {
    width: 90%;
    margin: auto;
    border: 1px solid #e5e4e2;
    padding: 10px;
    background: #ffffff;
}

.heroStats h4{
    float: left;
    padding-left: 10px;
    color: #666666;
}

.heroStats .row {
    background: #ffffff;
    width: 90%;
    margin: auto;
}

.heroStatsGrid {
    margin: 10px;
    background: #ffffff;
    box-shadow: 1px;
}

.heroStatsGrid p{
    color: #666666;
    clear: both;
    margin: 5px;
}

.heroStatsGridImg {
    float: left;
    margin-top: 10px;
    width: 30%;
}

.commonHeros {
    float: left;
    border: 1px solid #e5e4e2;
    padding: 10px;
    margin-top: 20px;
}

.commonHeros h4 {
    float: left;
    padding-left: 10px;
}

.commonHerosList {
    clear: both;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.commonHerosItem {
    flex: 1;
}

.heroTable {
    width: 80%;
    margin: auto;
    border: 1px solid #e5e4e2;
}

.heroList {
    display: flex;
    flex-direction: row;
}

.heroItem {
    flex: 1;
}

.recordTable {
    width: 80%;
    margin: auto;
    border: 1px solid #e5e4e2;
}

.recordList {
    display: flex;
}

.recordItem {
    flex:1;
}

.achievementTable {
    width: 90%;
    margin: auto;
    border: 1px solid #e5e4e2;
}

.achievementList .h4{
    float: left;
    margin-left: 10px;
}

.achievementList div {
    clear: both;
    display: flex;
    flex-direction: row;
}

.achievementCardFinished {
    flex: 1;
}

.achievementCardFinished img {
    background-color: ivory;
}

.achievementCardFinished p {
}

.achievementCardNotFinished {
    flex: 1;
}

.achievementCardNotFinished img {
    background-color: turquoise;
}

.achievementCardNotFinished p {
}

.proContainer {
    margin-top: 20px;
    width: 80%;
    margin: auto;
}


.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.heroStatsCircle {
    float: left;
    margin-top: 10px;
    width: 70%;
    padding-right: 10px;
    padding-left: 40px;
}

.heroStatsList {
    clear: both;
    display: flex;
    margin-left: 30px;
    flex-direction: row;
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
    background: #ffffff;
}

.featureStatsValue > .progress{
    margin-top:10px;
}

.heroStatsValue {
    flex: 4;
}

.heroStatsValue > .progress{
    margin-top: 10px;
}

.bestRecord {
    width: 90%;
    margin: auto;
    border: 1px solid #e5e4e2;
    padding: 10px;
    background: #ffffff;
}

.bestRecord h4 {
    float: left;
    padding-left: 10px;
    color: #666666;
}

.bestRecordCard{
    margin: 10px;
    border: 1px solid #e5e4e2;
    padding: 10px;
    background: #ffffff;
}

.bestRecordCard p {
    text-align: center;
}

.bestRecordCard h4 {
    text-align: center;
}

.achievementCard {
    height: 80px;
    margin: 10px;
    border: 1px solid #e5e4e2;
    padding: 10px;
    background: #ffffff;
}

.achievementCard p {
    text-align: center;
}

.achievementCardImgActive {
    display: block;
    margin: 0 auto;
    width: 80%;
    background: #5e6c7d;
}

.achievementCardImgInactive {
    display: block;
    margin: 0 auto;
    width: 80%;
    background: #e9eae9;
    
}